html {
    overflow: hidden;
    color: white;
    font-family: 'Raleway', sans-serif;
    /* letter-spacing: 0.7px;
font-size:12px; */
    font-weight: 500;
    /* text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none; */
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 1);
}

.menu {
    min-width: 350px;
    color: #fff;
    background-color: #0b0d12d2;
    position: absolute;
    border-radius: 10px;
}

.menu.align-left {
    right: 5%;
    top: 35%;
}

.menu.align-top-left {
    right: 5%;
    top: 35%;
}

.menu.align-top {
    right: 5%;
    top: 35%;
}

.menu.align-top-right {
    right: 5%;
    top: 35%;
}

.menu.align-right {
    right: 5%;
    top: 35%;
}

.menu.align-bottom-right {
    right: 160;
    bottom: 40;
}

.menu.align-bottom {
    left: 50%;
    bottom: 40;
    transform: translate(-50%, 0);
}

.menu.align-bottom-left {
    left: 40;
    bottom: 40;
}

.menu.align-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu .head {
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    padding: 2px;
    color: rgba(255, 255, 255, 0.805);
    margin-bottom: 8px;
    text-align: center;
    padding-top: 3%;
    background-color: #0b0d12da;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu .menu-items {
    max-height: 424px;
    overflow-y: hidden;
    width: 95%;
    margin-left: 2.3%;
    padding-bottom: 7%;
    margin-top: 5%;
}

.menu .menu-items .menu-item {
    background-color: #1c1c26cc;
    color: rgba(228, 222, 222, 0.8);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 24px;
    display: block;
    transition-property: background-color, color;
    transition-duration: 200ms;
    margin: 6px 0;
    border-radius: 5px;
    /* display: flex; */
    align-items: center;
    margin-left: 1%;
}

.menu-item-value {
    margin-left: auto;
}

.menu .menu-items .menu-item:not(:last-child) {
    margin-bottom: 4px;
}

.menu .menu-items .menu-item.selected,
.menu .menu-items .menu-item:hover {
    /* border: 2px solid rgb(255,255,255); */
    background-color: #75739656;
}